:focus {
	outline: none;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0)!important;
	overflow: hidden;
}
/*
md-toolbar {
	-webkit-transition: opacity .4s!important;
	transition: opacity .4s!important;
	-webkit-app-region: drag;
	color: #ffffff!important;
	background: #48bff7!important;
}
md-toolbar i {
	font-size: 22px!important;
}
md-toolbar a {
	color: #ffffff!important;
	text-decoration: none!important;
}
md-toolbar button {
	-webkit-app-region: no-drag;
}
md-toolbar md-slider-container {
	position: absolute;
	right: 65px;
	top: 42px;
	z-index: 10;
}*/
md-tooltip {
	color: #fff!important;
	background: rgb(128, 128, 128)!important;
}
header {
	height: 40px;
	-webkit-app-region: drag;
	background: rgb(236,236,236);
	width: 100%;
}
header .header-right {
	float: right;
	-webkit-app-region: no-drag;
}
header .header-left {
	float: left;
	-webkit-app-region: no-drag;
}
header > input {
	-webkit-app-region: no-drag;
	margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    padding: 5px 10px;
    margin-left: 10px;
    min-width: 300px;
    color: #444;
}
header i {
	color: #555;
}

#pageView, div[ui-view="main"] {
	width: 100%;
	height: 100%;
	position: relative;
}
#pageView {
	padding-top: 1px;
	background: #435966;
}
#pageView webview {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.loadSection {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
}
.loadSection md-progress-circular {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -25px;
}
