<webview 
	ng-init="channel = g.channel.active"
	src="{{g.channel.active.main}}"
	plugins="on"
	ng-style="
		{
			height: !g.channel.childIsActive()?'100%':'0px',
			width: !g.channel.childIsActive()?'100%':'0px'
		}
	"
	useragent="{{g.window.userAgent+'|'+channel.packageStr}}"
></webview>
<webview 
	ng-repeat-start="(name, child) in channel.children"
	ng-style="
		{
			height: child.active?'100%':'0px',
			width: child.active?'100%':'0px'
		}
	"
	ng-src="{{g.channel.srcUrl(child.main)}}"
	plugins="on"
	class="child-channel"
	useragent="{{g.window.userAgent}}"
	channel-child
></webview>
<div 
	class="loadSection" 
	ng-repeat-end
>
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>