<webview 
	src="{{g.channel.active.main}}"
	plugins="on"
	ng-style="
		{
			height: !g.channel.childIsActive()?'100%':'0px',
			width: !g.channel.childIsActive()?'100%':'0px'
		}
	"
></webview>
<webview 
	class="child-channel"
	ng-repeat-start="(name, child) in g.channel.active.children"
	ng-style="
		{
			height: child.active?'100%':'0px',
			width: child.active?'100%':'0px'
		}
	"
	ng-src="{{g.channel.srcUrl(child.main)}}"
	plugins="on"
></webview>
<div class="loadSection">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<script 
	type="text/javascript"
	ng-repeat-end
>
	(function() {
		var webview = $('.child-channel:last');
		webview.css({
			height: '0px',
			width: '0px'
		});
		webview[0].addEventListener('did-stop-loading', function() {
			webview.next('.loadSection').css('display', 'none');
			webview.css({
				height: '100%',
				width: '100%'
			});
		});
	})();
</script>