<div
	id="pageView"
	ng-controller="pageView as PV"
	ng-style="{
		transform: PV.window.cropped?'translate(-'+PV.window.cropCoors.x+'px, -'+PV.window.cropCoors.y+'px)':'inherit'
	}"
>
	<webview
		src="{{PV.pageUrl}}"
		plugins="on"
		url-webview="PV.window.auxUrl"
	></webview>
	<div class="loadSection">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<script type="text/javascript">
		$('#pageView').Jcrop({
			onSelect: function(coords) {
				Object.assign(window.cropCoors, coords);
			}
		}, function() {
			window.cropHandler = this;
			this.updateCrop();
		});
	</script>
</div>
