<header
    ng-style="{opacity: GV.window.active?'1':'0'}"
>
    <div class="header-left">
        <!--<md-button
            class="md-icon-button"
            aria-label="menu"
        >
            <i class="material-icons">more_vert</i>
            <md-tooltip md-direction="bottom">Menu</md-tooltip>
        </md-button>-->
        <md-button
            class="md-icon-button"
            aria-label="More"
            ng-click="
                GV.window.panelOpacity =
                    GV.window.panelOpacity?false:true;
            "
            title="Opacity"
        >
            <i class="material-icons">opacity</i>
        </md-button>
        <md-slider-container
            flex
            ng-show="GV.window.panelOpacity && GV.window.active"
        >
            <md-slider
                md-range
                md-vertical
                ng-model="GV.window.opacity"
                aria-label="Opacity"
                min="15"
                max="100"
                step="1"
                class="md-primary"
            ></md-slider>
            </md-slider>
        </md-slider-container>
    </div>
    <input ng-model="GV.window.auxUrl" type="text" placeholder="URL" url-input  ng-show="!GV.window.cropped"/>
    <div class="header-right">
        <md-button
            class="md-icon-button"
            aria-label="crop"
            ng-click="GV.window.crop()"
            title="Crop screen"
        >
            <i class="material-icons">crop</i>
        </md-button>
        <md-button
            class="md-icon-button"
            aria-label="close"
            ng-click="GV.window.close()"
            title="Close window"
        >
            <i class="material-icons">close</i>
        </md-button>
    </div>
</header>
