<!--
    <md-button
        class="md-icon-button"
        aria-label="More"
        ng-click="
            GV.window.panelOpacityControl =
                GV.window.panelOpacityControl?false:true;
        "
    >
        <i class="material-icons">opacity</i>
    </md-button>
    <md-slider-container
        flex
        ng-show="GV.window.panelOpacityControl && GV.window.active"
    >
        <md-slider
            md-discrete
            ng-model="GV.window.opacity"
            aria-label="Opacity"
            min="15"
            max="100"
            step="1"
            class="md-primary"
            md-vertical
        ></md-slider>
        </md-slider>
    </md-slider-container>
-->
<header>
    <div class="header-left">
        <md-button
            class="md-icon-button"
            aria-label="menu"
        >
            <i class="material-icons">more_vert</i>
            <md-tooltip md-direction="bottom">Menu</md-tooltip>
        </md-button>
    </div>
    <input ng-model="GV.window.url" type="text" placeholder="URL" />
    <div class="header-right">
        <md-button
            class="md-icon-button"
            aria-label="crop"
            ng-click="GV.window.crop()"
        >
            <i class="material-icons">crop</i>
            <md-tooltip md-direction="bottom">Crop screen</md-tooltip>
        </md-button>
        <md-button
            class="md-icon-button"
            aria-label="close"
            ng-click="GV.window.close()"
        >
            <i class="material-icons">close</i>
            <md-tooltip md-direction="bottom">Close window</md-tooltip>
        </md-button>
    </div>
</header>
